@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto Mono;
  line-height: 1.5;
  font-weight: 400;
  color: #1d1a1a;
  background-color: #f9f9f9;
  font-size: 16px;
}
